
.engine__wrapper {
  border: none;
  padding: 10px 150px 10px 150px;
  height: 100vh;

  &__title {
  color: black;
  box-sizing: content-box;
  font-size: 1.25rem;
  font-weight: 900;
  padding: 10px 10px 10px 50px;
  }

  &__hr {
    border: solid 1px lightgray;
  }
}
