$grey-50: #F3F6F9;
$grey-100: #E5EAF2;
$grey-200: #DAE2ED;
$grey-300: #C7D0DD;
$grey-600: #6B7A90;
$grey-700: #434D5B;
$grey-800: #303740;
$grey-900: #1C2025;

$blue-200: #99CCF3;
$blue-400: #3399FF;
$blue-700: #0059B2;

$light-background: #fff;
$light-border: $grey-200;
$light-text: $grey-900;
$light-shadow: rgba(0, 0, 0, 0.05);
$light-hover-background: $grey-50;
$light-hover-border: $grey-300;
$light-focus-shadow: $blue-200;

$dark-background: $grey-900;
$dark-border: $grey-700;
$dark-text: $grey-300;
$dark-shadow: rgba(0, 0, 0, 0.5);
$dark-hover-background: $grey-800;
$dark-hover-border: $grey-600;
$dark-focus-shadow: $blue-700;

$selectClasses-focusVisible: 'Mui-focusVisible';

$light-selected-bg: #DAECFF;
$light-selected-color: #003A75;
$light-highlighted-bg: #F3F6F9;
$light-highlighted-color: #1C2025;
$light-focus-outline: #99CCF3;
$light-disabled-color: #B0B8C4;
$light-hover-bg: #F3F6F9;
$light-hover-color: #1C2025;

$dark-selected-bg: #003A75;
$dark-selected-color: #DAECFF;
$dark-highlighted-bg: #303740;
$dark-highlighted-color: #C7D0DD;
$dark-focus-outline: #0072E5;
$dark-disabled-color: #434D5B;
$dark-hover-bg: #303740;
$dark-hover-color: #C7D0DD;




