.tabs {
    border: none;
  display: flex;
  justify-content: center;
}

.tablist {
    display: flex;
  gap: 50px;
  border: none;
}

.tab {
  background-color: white;
  border: none;
}

.link {
    width: 100%;
  border: none;
  font-size: 1.15rem;
  color: #242424;
  text-decoration: none;
  list-style-type: none;
  &.active {
    color: orange;
  }
}
