
.engine__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  background: #f3f3f3;
  border: none; 
  gap: 20px;
  overflow: auto;
  padding: 10px;

  &__item {
    border: 1px solid lightgrey;
    border-radius: 8px;
    list-style-type: none;
    padding: 10px;
  }

  &__subcard {
    grid-column: 1 / -1;
    width: 100%;
    border: none;
  }
}

.engine__card {
    border-radius: 8px;
    border: none;
    height: 100%;
    background-image: radial-gradient(circle, #cfcfcf 0%, #071013 100%);   
    color: white;
    padding: 15px;

    &__title {
        font-size: 18px;
        font-weight: bold;
    }

    &__photo {
        width: 100%;
        height: auto;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
    }
}

.engine__subcard {
  border: 2px solid lightgrey;
  background-color: #3a3a3a; /* Gris plus clair au survol */
  border-radius: 8px;
  display: flex;
  gap: 25px;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 

  &__photo {
    border: none;
    flex: 4; 

    &__img {
      width: 100%;
      height: 100%;
      border: none;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  &__details {
  border: none;
  margin: 15px 15px 15px 15px;
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;

    &__info {
    border: none;
    font-size: 1rem;
    font-weight: 500;
    }

    &__price {
      border: none;
      &__radio {
        border: 1px solid lightgrey;
        border-radius: 8px;
        width: 100%;
        padding: 15px;
        &__label{
          color: white;
          font-size: 1rem;
        }
        &__legend{
          color: white;
        }
      }
    }

    &__hour {
      border: none;
      &__radio {
        border: 1px solid lightgrey;
        border-radius: 8px;
        width: 100%;
        padding: 15px;
        &__label{
          color: white;
          font-size: 1rem;
        }
        &__legend{
          color: white;
        }
      }
    }

    &__link {
      display: flex;
      border-radius: 8px;
      align-items: center;
      justify-content: space-between;
      margin: 35px 0px 0px 0px;
      padding: 8px;

      &__price {
        border: none;
      }
      &__info {
        color: orange; 
        text-decoration: underline; 
        cursor: pointer; 
        font-size: 0.9rem;
        margin-top: 8px; /* Espacement au-dessus */
        display: inline-block; /* S'assure que le texte occupe une ligne seule */
      }

      &__button {
        border: 1px solid chocolate;
        background-color: orange;
        color: white;
        font-weight: 600;
      }
    }
  }
}

.engine__subcard:hover {
  background-color: #222222; 
}

.engine__subcard__details__price__radio .ant-radio-checked .ant-radio-inner {
  border-color: orange !important; 
  background-color: orange !important; 
}

.engine__subcard__details__price__radio .ant-radio-checked .ant-radio-inner::after {
  background-color: white !important; 
}

.engine__subcard__details__hour__radio .ant-radio-checked .ant-radio-inner {
  border-color: orange !important; 
  background-color: orange !important;
}

.engine__subcard__details__hour__radio .ant-radio-checked .ant-radio-inner::after {
  background-color: white !important;
}

.engine__subcard__link:hover {
  color: orange; /* Change la couleur au survol */
  text-decoration: none; /* Ajoute une ligne au survol */
}

