
.engine__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  background: #f3f3f3;
  border: none; 
  gap: 20px;
  overflow: auto;
  padding: 10px;

  &__item {
    border: 1px solid lightgrey;
    border-radius: 8px;
    list-style-type: none;
    padding: 10px;
  }

  &__subcard {
    grid-column: 1 / -1;
    width: 100%;
    border: none;
  }
}

.engine__card {
    border-radius: 8px;
    border: none;
    height: 100%;
    background-image: radial-gradient(circle, #cfcfcf 0%, #071013 100%);   
    color: white;
    padding: 15px;

    &__title {
        font-size: 18px;
        font-weight: bold;
    }

    &__photo {
        width: 100%;
        height: auto;
        margin-top: 10px;
        border: none;
        border-radius: 4px;
    }
}

.engine__subcard {
  border: 1px solid lightgrey;
  background-color: white;
  border-radius: 8px;
  display: flex;
  gap: 15px;
  color: black;

    &__photo {
      border: none;
      flex: 4;
      &__img {
        width: 100%;
        height: 100%;
        border: none;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }

    &__details {
    border: solid 1px pink;
    flex: 6;
    height: 100%;

    &__price {
      border: 1px solid lightgrey;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      // padding: 8px;
    }
    }
}

// &__link {
//   text-decoration: none ;
//   :hover {
//       text-decoration: none;
//   }
// }

// .sub__card__link:hover {
//   text-decoration: underline;
// }

